.body{
    background-color: black;
}

.contenedor{
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    border: black solid 1px;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3); 
    background-color: white;  
}

.posit{
    margin: auto;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    padding: 20px;
}

input{
    width: 500px;
    height: 50px;
    padding-left: 50px;
    outline: none;
    border: none;
}

input::placeholder {
    outline: none;
    font-size: 1.5em;
    font-style: italic;
}

button{
    width:50px;
    height: 50px;
    border:0;
    float: right;
    background-color: white;
}

li{
    list-style-type:none
}

span{
    color: rgb(255, 0, 0);
    font-size: small;
    font-style: italic;
    margin-left: 80px;
}


h6{
    color: gray;
    text-align: center;
    font-style: italic;   
}


#h4{
    font-size: small;
    color: rgb(66, 42, 173);
    text-align: left;  
    margin-left: 0;
}

#primary{
    text-align: center;
    width: auto;
    background-color: rgb(111, 111, 202);
    color: white;
    border-radius: 5px;
    height: auto;
}